:root {
    --cyan: #52e7f7;
    --lime: #5df752;
    --grass: #b3ff1b;
    --yellow: #f5eb27;
    --gold: #f2c138;
    --red: #eb3e38;
    --magenta: #f53df2;
    --violet: #a53df5;
    --grey: #859289;
    --blue-black: #252823;
    --purple-black: #252328;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto+Slab&display=swap');

html {
    font-size:  100%;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 468px) {
    .page-header {
        flex-direction: column;
    }
}

.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.page-header nav a:not(:hover):not(:focus) {
    color: currentColor;
    text-decoration: none;
}

nav a {
    margin: 0 12px;
    font-size: 1.25em;
    color: #fff7e5
}

main {
    flex-grow: 1;
    max-width: 60ch;
    width: 100%;
    margin: 0 auto;
}

.page-footer {
    text-align: center;
    margin-bottom: 8px;
}

.footnotes {
    font-size: 0.8em;
}

/* backlinks */
.backlinks-title {
    margin-bottom: 0;
}

.backlinks-container {
    margin-top: 0;
}

.backlinks-default {
    margin-top: 0;
    margin-left: 16px;
    color: #D1C4A9;
}

.backlink__preview {
    display: none;
    
    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    width: 348px;
    max-height: 148px;
    overflow: hidden;
    color: #ffae00;
}
.backlink__preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 24px;
    color: #ff9a9a;
}

.backlink__preview h1 {
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight: bold;
}

.backlink {
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 4px; /* Allow mouse to travel between link and modal */
}

.backlink:hover .backlink__preview {
    display: block;
}



::marker {
    color: #D1C4A9;
}

pre {
    padding:10px;
    border-radius:5px;
    background-color:#1b1a1d;
    color:white
}

blockquote {
    padding-left:7px;
    border:1px solid #363c41;
    border-left:5px solid #363c41;
    background-color:#1b1a1d;
    border-radius:0px 5px 5px 0px
}

/* This changes the whole page */
body {
    font-family: Inter, sans-serif;
    line-height: 1.65;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    margin: 0 24px;

    background-color: var(--blue-black);
}

/* This changes the text block in the middle */
main {
    flex-grow: 1;
    max-width: 60ch;
    width: 100%;
    margin: 0 auto;
}

/* Typography */
h1,
h2,
h3,
h4,
h5 {
    margin: 1.75rem 0 1.05rem;
    font-weight: 800;
    line-height: 1.3;
    overflow-wrap: break-word;
    font-family: Poppins, Inter, sans-serif;
}

h1 {
    background: -webkit-linear-gradient(45deg, var(--cyan), var(--lime));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.1em;
}

h2 {
    background: -webkit-linear-gradient(45deg, var(--lime), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8em;
}

h3 {
    background: -webkit-linear-gradient(45deg, var(--yellow), var(--gold));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
}

h4 {
    background: -webkit-linear-gradient(45deg, var(--gold), var(--red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2em;
}

h5 {
    background: -webkit-linear-gradient(45deg, var(--red), var(--magenta));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.9em;
}

p {
    margin-bottom: 1.15rem; 
    color:#fff7e5;
}

em {
    background: -webkit-linear-gradient(45deg, var(--cyan), var(--violet));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

strong {
    background: -webkit-linear-gradient(45deg, var(--violet), var(--magenta));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

s {
    color: var(--grey);
}

a:link {
    background: -webkit-linear-gradient(45deg, var(--lime), var(--grass));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:visited {
    background: -webkit-linear-gradient(45deg, var(--gold), var(--yellow)); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}

a[href]:hover {
    text-decoration: none;
}

li {
    color:#fff7e5;
}

.navigation {
    margin: 12px auto;
}

svg {
    fill: white;
}

svg:hover {
    fill: #5FE88D
}