<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <link rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:wght@400;800&family=Roboto+Slab:wght@400;600&family=Karla:wght@400;700&display=swap');
    </style>
    <script>
        MathJax = {
          tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
        };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <main>
        {{content}}
    </main>
    
    <footer class="page-footer">
        <small>Copyrighted by {{site.author}} except for the parts that are not</small>
    </footer>
    <script>
    [...document.body.querySelectorAll("a")].forEach((a,i)=>{
    if (a.innerHTML.indexOf(".png") != -1) {
    // convert to image.
    let img = document.createElement("img");
    img.src = "https://mint-garden.netlify.app/assets/" + a.innerHTML;
    a.previousSibling.nodeValue = a.previousSibling.nodeValue.split("\n!")[0];
    if (a.previousSibling.nodeValue == "!") a.previousSibling.nodeValue = "";
        a.replaceWith(img, document.createElement("br"));
    }
    });

    [...document.body.querySelectorAll("p")].forEach((a,i)=>{
    var resultInner = "";
    a.innerHTML.split("%%").forEach((b,j)=>{
        if (j > 0 && j%2==0) resultInner += "<\/span>";
        if (j > 0 && j%2==1) resultInner += "<span style=\"display:none;\">";
        resultInner += b;
        if (j%2==1 && j == a.innerHTML.split("%%").length-1) resultInner += "<\/span>";
    })
    a.innerHTML = resultInner;
    })
    </script>
</body>
</html>